In [3]:
from dask.distributed import Client
import dask.dataframe as dd
import numpy as np

In [4]:
client = Client()

In [5]:
client

In [7]:
dtypes = {
    'reviewerID': np.str,
    'asin': np.str,
    'reviewerName': np.str,
    'helpful': np.object,
    'reviewText': np.str,
    'overall': np.float64,
    'summary': np.str,
    'unixReviewTime': np.float64,
    'reviewTime': np.str
}

In [8]:
%%time
df = dd.read_csv('user_reviews.csv', dtype=dtypes)
df_sub = df.head(5000)
df_sub.to_csv('subset_dev.csv')

CPU times: user 388 ms, sys: 69.2 ms, total: 457 ms
Wall time: 2.16 s

In [9]:
df_sub

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2T0RJ91B0PQ03,B0016CRVLW,Gerald DeWitt,"[0, 0]",Beware! This is NOT the original single versi...,1.0,Poor Quality Alternate Take,1.400630e+09,"05 21, 2014"
1,A3TYW0XA8HSGWB,B00EKR5S0Q,Linda E. Larson,"[0, 0]",This is my new most favorite k-cup coffee. I c...,5.0,Vanilla Starbucks K-cups,1.398557e+09,"04 27, 2014"
2,A2CME0TQU2IVVB,B001AUPJVO,L5Momma,"[1, 1]",This headset is great! It worked in our 2007 ...,5.0,Awesome!,1.355875e+09,"12 19, 2012"
3,A2E5IDLX7R388S,B000055Y57,Jeff Andersen,"[0, 0]",Scofield is one of my favorite musicians and i...,5.0,Straight ahead Jazz with the Scofield twist,1.402358e+09,"06 10, 2014"
4,A3CIEMYUGV6ZMR,0545265355,Adroit,"[0, 0]","Wonderful book! I cried, well teared up at a f...",5.0,Greatest Book Ever!!!,1.334102e+09,"04 11, 2012"
...,...,...,...,...,...,...,...,...,...
4995,A2YKHYSK0GBKB0,B004H1TUSG,kalamazu,"[0, 0]",I've had this cover for a day less than I've h...,5.0,Perfect,1.347235e+09,"09 10, 2012"
4996,A2453UWGUHLRE4,1783280131,Scott Gilbert,"[0, 0]",Nice reference guide to help people get up and...,5.0,Great book for getting started with Gephi,1.384733e+09,"11 18, 2013"
4997,A26CZH1CTMS1Q4,B003WD2SLQ,Yorker NyC,"[2, 3]",Fits like a glove for my T3i... Good for the b...,5.0,Fits like a Glove (Canon rebel T3i),1.322352e+09,"11 27, 2011"
4998,AL9LQI83R7DE6,147936133X,Ramortra,"[2, 2]",I read a lot of books that would fit in this a...,5.0,Fast But Fantastic!,1.349914e+09,"10 11, 2012"
4999,AEH2UFSANSIC6,B002EOUUAK,anm27,"[1, 1]",This case is really cute. It fits over my macb...,4.0,so cute,1.303862e+09,"04 27, 2011"

In [10]:
df_1 = df.groupby('asin')['overall'].count(split_out=4).reset_index()
df_1.head()

         asin  overall
0  000100039X      338
1  000224053X      255
2  0002242052      344
3  0005019281      194
4  000612609X      116

In [17]:
df_sub.groupby('reviewerID')['overall'].mean().reset_index()

                 reviewerID  overall
0      A0118023LZWOCM3IU40P      5.0
1      A02665964IE1SK1DP89W      5.0
2     A08456402WB5TP5C7LLQX      5.0
3     A098492715I4ZGRRYN6Z3      5.0
4            A101LF5ZOEYTHN      1.0
...                     ...      ...
4984          AZVTP654OV9UP      5.0
4985          AZWBA8ACACBJC      5.0
4986           AZWW1U604W0N      5.0
4987          AZXIVW59NBUC3      5.0
4988          AZYP7IN1HG9QV      2.0

[4989 rows x 2 columns]

In [16]:
df.shape

(Delayed('int-9936c964-146f-4e96-90c0-170358c3e937'), 9)